.slider {
  margin:0 20px;
  overflow:"hidden";
  padding:2rem 0;

  img {
    width: 216px;
    border-radius:50%;
    height: 216px;
    }
}

.slider 

.react-multi-carousel-list {
padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button{
border: none;
background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
background: rgb(255, 68, 68) !important;
}