@use "../../css-config/mixins.scss" as *;
.insights{
    background-image: url("../../assets/Insights_bg.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 200px 0 130px;

    .insights_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 28px;
        align-items: center;
        padding-top: 40px;
        @include md{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 65px
        }
        @include lg{
            flex-direction: row;
            flex-wrap: nowrap;
            width: 850px;
            padding-top: 93px;
        }

        .blog-card{
            background: #33419D;
            width: 254px;
            height: 389px;
            opacity: 1;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: 0px 4px 4px 0px #0000004D;
            box-shadow: 0px 8px 12px 6px #00000026;

            // justify-content: space-between;
            @include md{
                width: 294px;
                gap: 5px;
            }
            @include lg{
                width: 294px;
                padding: 31px 31px 26px 34px;
            }
            .metadata{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #FF7C23;
            }

           h3{
            width: 228px;
           }
            p{
                
                padding: 39px 0 31px;
            }


            .read {
                    font-family: "Nunito Sans";
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: middle;
                    background: transparent;
                    border: none;
                    color: white;
                }
        }
    }
}
