@use "../../css-config/mixins.scss" as *;
.navbar {
  width: 100%;
  background: white;
  // border-bottom: 1px solid #eee;
  position: relative;
  z-index: 1000;
  transition: 0.3s;

  &.sticky-nav {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }

  .nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }

  .header-border{
    height: 10px;
    width: 100%;
    background: radial-gradient(88.6% 328.35% at 17.4% 5.68%, #FEC272 6%, #FEBB5D 9%, #FEB243 13%, #FEAC30 17%, #FEA924 21%, #FEA821 26%, #FE6700 71.63%, #FF5200 100%);

  }

  .logo a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #1c3faa;
    img{
      width: 100%;
      @include lg{
        width: 330px;
        height: 50px;
      }
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;

    a, button {
      background: none;
      border: none;
      text-decoration: none;
      color: #33419D;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #ff6a00;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
   

    span {
      width: 25px;
      height: 3px;
      background: black;
      transition: 0.3s;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px,5px);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px,-5px);
    }
  }
}

/* Mobile */

@media (max-width: 768px) {

  .navbar {

    .nav-menu {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      display: none;
      gap: 20px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }

    .nav-menu.active {
      display: flex;
    }

    .hamburger {
      display: flex;
    }

  }

}